<html>
    <body>
        <p>
            Welcome {{ user.username }}!
        </p>
        <p>
            Your tribes:
            <ul>
                {% for tribe in user_tribes %}
                    <li><a href="{% url 'list_tribe_files' tribe.id %}">{{ tribe.name }}</a></li>
                {% endfor %}
            </ul>
        </p>
    </body>
</html>