<html>
    <body>
        <p>
            Tribe {{ tribe.name }}
        </p>
        {% if uploaded_file %}
            <div>The file has been successfully uploaded!</div>
        {% endif %}
        <p>
            Uploaded files:
            <table>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Size</th>
                    <th>Submitter</th>
                    <th>Date</th>
                    <th>Remove</th>
                </tr>
                {% for file in tribe_files %}
                    <tr id="file_{{ file.id }}">
                        <td><a href="{% url 'download_file' tribe.id file.id %}">{{ file.name }}</a></td>
                        <td>{{ file.description }}</td>
                        <td>{{ file.size }}</td>
                        <td>{{ file.submitter.username }}</td>
                        <td>{{ file.timestamp }}</td>
                        <td><a href="javascript:remove_file('{{ tribe.id }}', '{{ file.id }}')">Remove</a></td>
                    </tr>
                {% endfor %}
            </table>
        </p>
        <p>
            Upload your own file:
            <form action="{% url 'upload_file' tribe.id %}" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ upload_form }}
                <input type="submit" value="Submit">
            </form>
        </p>

        <script>
            function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

            function remove_file(tribe_id, file_id) {
                if (! confirm("Are you sure to remove this file?")) return;
                let url = `/files/tribe_files/${tribe_id}/remove/${file_id}`;
                let onerror = (msg) => { alert(`Error while removing file: ${msg}`); };
                let headers = new Headers();
                headers.append("X-CSRFToken", csrftoken);
                fetch(url, {method: "delete", headers: headers})
                    .then((response) => {
                        if (response.ok) {
                            // Successful delete, we hide the element
                            document.getElementById(`file_${file_id}`).style.display = "none";
                        } else {
                            onerror(`HTTP error, ${response.status} ${response.statusText}`)
                        }
                    })
                    .catch((exception) => {
                        onerror(`${exception}`);
                    });
            }
        </script>
    </body>
</html>